/.metadata/
/Servers/
/.settings/
/target/
/.classpath/
/.project/
/.springBeans/
/bin/
/practice/.settings/
/practice/target/S
/practice/.classpath
/practice/.project
/practice/.springBeans
/practice/bin