/.metadata/
/Servers/
/springProject/.settings/
/springProject/target/
/springProject/.classpath
/springProject/.project
/springProject/.springBeans
/springProject/bin
/practice/.settings/
/practice/target/
/practice/.classpath
/practice/.project
/practice/.springBeans
/practice/bin