@charset "UTF-8";

header{
	text-align:center;
}

nav{
	display: inline-block;
	float: left;
	margin: 10px;
	width: 300px;
}

section {
	display: inline-block;
	border: 1px solid black;
	background-color: #ffdeb3;
	width: 700px;
	height:auto;
	
}

footer{
	border: 1px solid black;
}